.author {
    margin-top: 100px;

    &__block-title {
        margin-bottom: 34px;
    }

    .body {
        background: white;
        border-radius: 7px;
        padding: 30px 30px 41px 30px;
        display: grid;
        grid-template-areas: 'icon title' 'icon text';
        grid-template-columns: min-content 1fr;
        column-gap: 33px;

        &__author-icon {
            object-fit: contain;
            display: flex;
            align-self: flex-start;
            grid-area: icon;
        }

        &__text {
            margin-top: 17px;
            grid-area: text;
        }

        &__title {
            grid-area: title;
            font-weight: 700;
            font-size: 25px;
            line-height: 110%;

            letter-spacing: -0.02em;

            margin-bottom: 13px;
        }

        &__list {
            li {
                font-size: 25px;
                line-height: 150%;
                position: relative;
                padding-left: 20px;

                letter-spacing: -0.02em;

                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 15px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    background: black;
                    border-radius: 50%;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 70px;

        .body {
            padding: 20px 20px 23px;
            grid-template-areas: 'icon title' 'text text';
            grid-template-columns: min-content 1fr;
            column-gap: 19px;

            &__title {
                font-size: 20px;
                align-self: center;
                margin-bottom: 0;
            }

            &__author-icon {
                width: 60px;
            }

            &__list {
                li {
                    font-size: 20px;
                    line-height: 130%;
                    padding-left: 15px;

                    &::after {
                        top: 11px;
                        width: 4px;
                        height: 4px;
                    }
                }
            }
        }
    }
}