.footer {
    width: 100%;
    background: white;
    padding: 50px 70px 53px;

    a, p {
        font-size: 19px;
        line-height: 130%;
        color: #9090A9;
    }

    p {
        padding-right: 15px;
    }

    &__links {
        display: flex;
        grid-column-gap: 30px;

        a {
            transition: color .4s;
            &:hover {
                color: #0067ff;
            }
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .juri-name {
            display: flex;
            align-items: center;

            svg {
                margin-right: 19px;
                margin-top: -4px;
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 24px;
    }

    @media (max-width: 767px) {
        padding: 23px 20px 22px;

        a, p {
            font-size: 16px;
            line-height: 130%;
        }
        
        .top {
            display: block;
            max-width: 400px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .bottom {
            max-width: 400px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 10px;
          }
        
        &__links {
            margin-top: 17px;
            flex-wrap: wrap;
            grid-column-gap: 12px;
            grid-row-gap: 8px;
        }
        
        .footer__links a:nth(3n) {
            margin-right: 0;
        }
        
        .btn {
            width: 100%;
            max-width: 400px;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        
        .footer__policy:hover {
            color: #777777;
        }
        
        .footer__address {
            margin-bottom: 15px;
        }
    }
}