.goal {
    margin-top: 80px;

    &__block-description {
        max-width: 638px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            object-fit: contain;
            width: 586px;
            margin: 0 auto;
        }
    }
}