.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 0 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;

    &__content {
        display: flex;
        justify-content: center;
    }

    &__links {
        display: flex;
        column-gap: 40px;
    }
    
    &__link {
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        text-align: center;

        color: #8C92FF;

        transition: color .4s;

        &:hover {
            color: white;
        }
    }
}