.head {
    margin-top: 0;
    padding-top: 143px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__dot {
        position: relative;
        padding: 0 10px;

        &::before {
            content: "";
            background-color: #FF0000;
            display: block;
            margin-top: 13px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            animation: pulse .7s infinite ease-out;
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        75% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    &__star {
        z-index: -1;
        position: absolute;
        top: -45%;

        transition: transform .7s ease-out;
    }

    &__imgs {
        margin-bottom: 20px;

        img {
            position: relative;

            &:not(:last-child) {
                margin-right: -20px;
            }

            &:first-child {
                z-index: 2;
            }
            &:nth-child(2) {
                z-index: 1;
            }
        }


    }

    &__title {
        font-family: 'Dela Gothic One', cursive;
        color: white;
        font-weight: 400;
        font-size: 55px;
        line-height: 60px;
        margin-bottom: 39px;
        text-align: center;
    }

    p {
        color: white;
        margin-bottom: 41px;
        display: flex;
    }

    .button {
        margin-bottom: 80px;
    }

    &__cards {
        display: flex;

        img {
            object-fit: contain;
            transition: transform .7s ease-out;
        }

        .head__card_card1 {
            margin-top: 65px;
            margin-right: -160px;
        }

        .mobile {
            display: none;
        }
    }

    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 45px;

        &__title {
            font-size: 32px;
            line-height: 34px;
            margin-bottom: 26px;
        }

        &__dot {
            &::before {
                margin-top: 11px;
                height: 4px;
                width: 4px;
            }
        }

        &__star {
            width: 1000px;
        }

        &__imgs {
            margin-bottom: 36px;

            img {
                width: 60px;
            }
        }

        &__cards {
            z-index: 1;
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }

            .head__card_card1.mobile {
                margin-top: 65px;
                margin-right: -125px;
            }
        }

        p {
            margin-bottom: 25px;
        }

        .button {
            margin-bottom: 40px;
        }
    }

    @media (max-width: 500px) {
        &__star {
            width: 756px;
            top: -20%;
        }
    }
}
