.lifehacks {
    margin-top: 100px;

    &__first {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        img {
            max-width: 600px;
        }
    }

    &__img2 {
        align-self: center;
    }

    &__img3 {
        align-self: flex-end;
    }

    &__imgs {
        display: flex;
        justify-content: center;
        margin-bottom: 55px;

        img {
            object-fit: contain;
            display: flex;
            align-self: flex-start;

            &:nth-child(1) {
                margin-top: 115px;
                margin-right: -55px;
            }
            &:nth-child(2) {
                filter: drop-shadow(-20px 40px 50px rgba(0, 24, 84, 0.15));
            }
        }
    }

    .button {
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        &__first {
            row-gap: 10px;

            img {
                max-width: 320px;
                align-self: center;
            }
        }

        &__imgs {
            img {
                width: 175px;

                &:nth-child(1) {
                    margin-top: 75px;
                    margin-right: -25px;
                }
            }
        }
    }
}