.party {
        .party__imgs {
            display: flex !important;
            justify-content: center !important;
            margin-bottom: 55px !important;
            max-width: 760px !important;
            margin-left: auto !important;
            margin-right: auto !important;
    
            img {
                object-fit: contain;
                display: flex;
                align-self: flex-start;
            }

            .party__img1 {
                margin-top: 115px;
                margin-right: -55px;
            }
            .party__img2 {
                filter: drop-shadow(-20px 40px 50px rgba(0, 24, 84, 0.15));
            }
        }

    

    .button {
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        &__imgs {
            margin-bottom: 40px;
            max-width: unset;
            margin-left: 0;
            margin-right: 0;

            img {
                &:nth-child(1) {
                    margin-top: 0;
                    margin-right: 0;
                }
            }
        }

        &__img1 {
            margin-top: 0;
            margin-right: 0;
        }
        &__img2 {
            filter: none;
        }
    }
}