.portfolio {
    margin-top: 80px;

    &__slider {
        margin-bottom: 50px;

        img {
            cursor: grab;
        }
    }

    .button {
        margin: 0 auto;
    }

    @media (max-width: 767px) {
        &__slider {
            margin-bottom: 40px;
        }
    }
}