.portfolio {
    margin-top: 80px;

    .splide {
        margin-bottom: 50px;
    }

    &__slider {

        img {
            cursor: grab;
        }
    }

    .button {
        margin: 0 auto;
    }
}