.tech {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__block-title {
        max-width: 420px;
    }

    &__imgbox { 
        margin-bottom: 30px;
        position: relative;
        height: 500px;
        width: 500px;
        background-color: #E9ECF3;
        border-radius: 7px;

        .interactive-img {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .4s ease-out;
            opacity: 0;
            border-radius: 7px;
        }

        .img-2 {
            opacity: 1;
        }

        .img_visible {
            opacity: 1;
        }
    }

    .tns-outer {
        width: 100%;
    }

    &__items {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .tech-item {
            cursor: pointer;
            background-color: white;
            padding: 20px;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: box-shadow .4s, border .4s;
            border: 1px solid transparent;

            &:hover {
                box-shadow: -20px 40px 50px rgba(0, 24, 84, 0.15);
            }

            &:nth-child(-n+2) {
                padding: 20px 12px;
            }
        }

        .tech-item--active {
            border: 1px solid #0500FF;
        }
    }

    &__desc {
        font-size: 18px;
        line-height: 120%;

        text-align: center;
        letter-spacing: -0.02em;

        color: #8082AA;
    }

    @media (max-width: 767px) {
        &__imgbox {
            height: 320px;
            width: 320px;
            margin-bottom: 20px;

            .interactive-img {
                width: 100%;
            }
        }

        &__items {
            .tech-item {
                height: 70px;
                padding: 11px 12px;

                &:hover {
                    box-shadow: none;
                }

                // &:not(:last-child) {
                //     margin-right: 11px;
                // }

                &:nth-child(-n+2) {
                    padding: 18px 7px;
                }
            }

            .tech-item5 {
                img {
                    width: 51px;
                }
            }
            .tech-item4 {
                img {
                    width: 56px;
                }
            }
            .tech-item3 {
                img {
                    width: 110px;
                }
            }
            .tech-item1 {
                img {
                    width: 110px;
                }
            }
        }

        &__desc {
            font-size: 16px;
            max-width: 218px;
        }
    }
}